@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;0,700;1,400&display=swap');

body {
    background-color: rgba(8, 8, 8);
    color: #ebaa6a;
    margin: 0;
    align-self: center;
    /* background-color: beige; */
}

header {
    text-align: center;
    background-color: rgba(236, 50, 9, .44);
    padding: 1rem;
    color: #faa44e;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    margin: 0;  
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    font-family: 'Ubuntu',sans-serif;
    font-size: 1.5rem;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
    padding-right: 4.5rem;
    background-color: #faa44e;
    margin: 1em 18em 0 18em;
    border-radius: 15%;
}


nav {
    /* background-color: rgba(231, 143, 10, 0.26); */
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 1rem 1em 0 1em;
    border-radius: 20px;
}

.rover {
    font-family: 'Ubuntu';
    font-weight: 500;
    padding: 10px 15px;
    background: #faa44e;
    border: none;
    border-radius: 100px;
    /* color: rgb(12, 0, 0); */
    cursor: pointer;
}

form {
	display: flex;
    flex-direction: column;
	padding: 1rem 5rem 1rem 5rem ;
    justify-content: center;
   
    
}

input {
    text-align: center;
    font-family: 'Ubuntu';
    font-weight: 500;
    border-radius: 100px;
    height: 30px;
    width: 4.5rem;
    padding: 0 3rem 0 3rem;
    align-self: center;

}

label {
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 1.5rem;
    padding: 12px;
    text-align: center;
}

.mars {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.red {
    height: 70%;
    width: 70%;
}

.camera {
    flex-wrap: wrap;
}

.bold {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    font-weight: 800;
}

.info {
    display: flex;
    flex-direction: column;
}


.white {
    grid-column: 2;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: italic;
    font-size: 2rem;
    /* color: #2D3047; */
}

.photos {
    display: grid;
    grid-template-columns: 33% 1fr 33%;
    /* grid-template-rows: 25% ; */
    margin: 1rem 1em 0 1em;
}
.photo {
    /* object-fit: cover; */
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.moon {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: auto;
    /* padding: ; */
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5c/Phobos_colour_2008.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40%;
    animation: spin 30s linear infinite;
    height: 100vh;
    width: 100vh;
}

.ye {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: rotate 30s linear infinite;
    color: rgb(143, 34, 9);
}


@keyframes rotate{
	from{transform:rotate(360deg)}
	to{transform:rotate(0deg)}	
} 
@keyframes spin{
	from{transform:rotate(0deg)}
	to{transform:rotate(360deg)}	
} 

#moon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    animation: spin 20s infinite;
}